<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
	<link href="/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../static/css/core.css" th:href="@{/css/core.css}" rel="stylesheet"  type="text/css" media="screen" />
	<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>
<body>
<div class="wrap">
<div th:include="layout :: head"></div>

<div id="main">
<div class="container-fluid">
	<div th:include="layout :: left"></div>
	<div class="jumbotron navbar-left">
        <h3>Admin Home</h3>
        <p><small>View all participation requests</small></p>
        <p>
			<!-- <a class="btn btn-info btn-large" href="./home.html" th:href="@{/admin}">Home</a> -->
			<a class="btn btn-primary btn-large" href="/logout" th:href="@{/logout}">Logout</a>
        </p>
    </div>
    
    <div class="col-md-3 pull-right">
	<th:block th:unless="${#lists.isEmpty(birthdays)}">
		<h4 class="text-center">Today's Birthdays</h4>
		<table class="table table-hover table-condensed products-table" style="margin-bottom:8px;">
			<tr th:each="employee,stat : ${birthdays}">
				<td th:text="${employee.firstName}+' '+${employee.lastName}">Juraj Longo</td>
				<!-- <td th:text="${employee.department}">Marketing</td> -->
				<td th:text="${employee.position}">Manager</td>
				<td>Age: <span class="badge" th:text="${employee.age}">52</span></td>
			</tr>	
		</table>
	</th:block>
	<th:block th:if="${#lists.isEmpty(birthdays)}">
    	<div class="alert alert-info" style="margin-bottom:8px;">There are no birthdays today.</div>
    </th:block>
	</div>
	
    <div style="width: 1px; margin-bottom: -20px">&nbsp;</div>
    
    <th:block th:if="${message != null}">
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=${message.message})">&nbsp;</div>
    </th:block>

<div class="" > <!-- col-md-12 -->
	<th:block th:if="${#lists.size(participations)} >= 1"> <!-- th:unless="${#lists.isEmpty(participations)}" -->
    <table class="table table-hover products-table" style="margin-bottom:8px;">
		<thead>
			<tr>
          		<!-- <th>Type</th> -->
          		<th>Event</th>
          		<th>Place</th>
          		<th>Beginning</th>
          		<th>Employee</th>
          		<th>Position</th>
          		<th>Department</th>
          		<th>Telephone</th>
          		<th>Email</th>
				<th>Approve</th>
				<th>Deny</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p,stat : ${participations}">
				<!-- <td th:text="${p.event.type}">Meeting</td> -->
				<td th:text="${p.event.name}">Annual Meeting</td>
				<td th:text="${p.event.place}">Office</td>
				<td th:text="${#calendars.format(p.event.convertedDateTime,'dd. MMMM yyyy HH:mm')}">1. May 2014 10:00</td>
				<td th:text="${p.employee.firstName}+' '+${p.employee.lastName}">Juraj Longo</td>
				<td th:text="${p.employee.position}">Manager</td>
				<td th:text="${p.employee.department}">Marketing</td>
				<td th:text="${p.employee.telephone}">191708654333</td>
				<td>
					<span th:if="${#strings.contains(p.employee.account.email, '@')}">
						<span th:text="${#strings.arraySplit(p.employee.account.email, '@')[0]}">juraj.longo</span>
						@<span th:text="${#strings.arraySplit(p.employee.account.email, '@')[1]}">bluepumpkin.com></span>
						<!-- <span th:if="${#strings.arraySplit(p.employee.account.email, '@')[1] != null}" th:text="${#strings.arraySplit(p.employee.account.email, '@')[1]}">bluepumpkin.com</span> -->
					</span>
					<span th:unless="${#strings.contains(p.employee.account.email, '@')}" th:text="${p.employee.account.email}">user</span>
				</td>
				<td>
					<a th:href="@{/admin/participations/{eventId}/{empId}/approve(eventId=${p.eventId}, empId=${p.employeeId})}" href="#" class="btn btn-large btn-success">
					<i class="glyphicon glyphicon-ok"></i></a>
				</td>
				<td>
					<a th:href="@{/admin/participations/{eventId}/{empId}/deny(eventId=${p.eventId}, empId=${p.employeeId})}" href="#" class="btn btn-large btn-danger">
					<i class="glyphicon glyphicon-remove"></i></a>
				</td>
			</tr>
		</tbody>
    </table>
    </th:block>
    <th:block th:if="${#lists.isEmpty(participations)}">
    	<div class="alert alert-warning">There are <strong>no</strong> participation requests.</div>
    </th:block>
</div> <!-- /.col-md-12 -->

</div> <!-- /.container -->
</div> <!-- /.main -->
</div> <!-- /.wrap -->

<div th:include="layout :: foot"></div>
</body>
</html>